<nav class="navbar navbar-toggleable-md navbar-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.jpg" width="80" height="60" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">TRENDING <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FEMALE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MALE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TRANS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">COUPLES</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container-fluid footer-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h6 class="title">Lorem</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">consectetur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">elit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">Vivamus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">dui</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">fermentum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">lacinia</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6 class="title">Ipsum</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">consectetur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">elit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">Vivamus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">dui</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">fermentum</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6 class="title">Dolor</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">consectetur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">elit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">Vivamus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">dui</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">fermentum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">lacinia</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6 class="title">Sit</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">consectetur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">elit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">Vivamus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">dui</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6 class="title">Armet</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">consectetur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">elit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">Vivamus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">dui</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">fermentum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-footer-menu" href="#">lacinia</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6 >Connect with us</h6>
                    <!--<ul class="nav flex-column">-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link-footer-menu" href="#">consectetur</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link-footer-menu" href="#">elit</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link-footer-menu" href="#">Vivamus</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link-footer-menu" href="#">dui</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link-footer-menu" href="#">fermentum</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link-footer-menu" href="#">lacinia</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid footer-right">
        <div class="container">
            <div class="row  justify-content-center align-items-center">
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link-footer-right" href="">PRIVACY POLICY</a>
                    </li>
                    <li class="border">
                        <a class="nav-link-footer-right"  href="">TERMS AND CONDITIONS</a>
                    </li>
                    <li class="border">
                        <p>@2017 Vinegar Strokes. All Right Reserverd</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
